<form
    class="w-fullrounded mt-6 p-6"
    (submit)="handleUpdate($event)"
  >
    <div class="mb-4">
      <label class="block text-green-900 font-semibold mb-2" for="itemName"> Item Name </label>
      <input
        class="border placeholder:text-gray-500 border-gray-300 p-2 w-full rounded-md"
        placeholder="Enter the item name"
        type="text"
        id="itemName"
        required
        [formControl]="itemName"
      />
    </div>
    <div class="mb-4">
      <div class="flex justify-between items-center">
        <label class="block text-green-900 font-semibold mb-2" for="itemDescription">
          Summarized Description
        </label>
        <span class="text-sm text-slate-500"> {{ itemDescription.value.length }}/50 </span>
      </div>
      <input
        class="border border-gray-300 p-2 w-full rounded-md placeholder:text-gray-500"
        placeholder="Enter a brief description (max 50 characters)"
        type="text"
        maxlength="50"
        id="itemDescription"
        [formControl]="itemDescription"
        required
      />
    </div>
    <div class="mb-4 grid grid-cols-1 sm:grid-cols-3 gap-2 placeholder:text-gray-500">
      <div>
        <label class="block text-green-900 font-semibold mb-2" for="price"> Price </label>
        <span class="flex items-center gap-2">
          <p class="text-slate-500 text-lg">$</p>
          <input
            class="border border-gray-300 p-2 w-full rounded-md placeholder:text-gray-500"
            type="text"
            id="price"
            [formControl]="itemPrice"
            placeholder="Enter the item price"
            required
          />
        </span>
      </div>
      <div>
        <label class="block text-green-900 font-semibold mb-2" for="category"> Category </label>
        <input
          class="border border-gray-300 p-2 w-full rounded-md placeholder:text-gray-500"
          type="text"
          id="category"
          [formControl]="itemCategory"
          placeholder="Enter the category"
          required
        />
      </div>
      <div>
        <label class="block text-green-900 font-semibold mb-2" for="rating"> Rating </label>
        <input
          placeholder="Rate item out of 5"
          class="border border-gray-300 p-2 w-full rounded-md placeholder:text-gray-500"
          type="text"
          id="rating"
          [formControl]="itemRating"
          required
        />
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-green-900 font-semibold mb-2" for="itemDescription">
        Image URL
      </label>
      <input
        placeholder="Enter the image URL"
        class="border border-gray-300 p-2 w-full rounded-md placeholder:text-gray-500"
        type="text"
        id="imageURL"
        required
        [formControl]="itemImageURL"
      />
    </div>
    <div>
      <div class="flex justify-between items-center">
        <label for="detailDescription" class="block text-green-900 font-semibold mb-2"
          >Detailed Description</label
        >
        <span class="text-sm text-slate-500"> {{ detailDescription.value.length }}/500 </span>
      </div>
      <textarea
        [formControl]="detailDescription"
        class="border border-gray-300 p-2 w-full rounded-md min-h-10 leading-tight placeholder:text-gray-500"
        id="detailDescription"
        placeholder="Enter the detailed description of item"
        rows="3"
        required="true"
        maxlength="500"
        [formControl]="detailDescription"
      ></textarea>
    </div>
    <button
      class="bg-green-900 text-white font-semibold py-2 px-4 rounded mt-4 hover:bg-green-800 transition-colors duration-200 hover:cursor-pointer w-full"
      type="submit"
    >
      Update Item
    </button>
  </form>